# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import gmaps.datasets
from pprint import pprint

# Import API key
from api_keys import g_key

In [20]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Dikson,100,RU,98,73.5069,80.5464,2.77,18.30
1,1,Requena,51,ES,52,39.4883,-1.1004,42.51,4.90
2,2,Thompson,40,CA,59,55.7435,-97.8558,-3.84,4.61
3,3,Acari,84,PE,72,-15.4311,-74.6158,80.98,10.92
4,4,Isangel,24,VU,65,-19.5500,169.2667,80.20,11.39

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [21]:
# Configure the map plot
gmaps.configure(api_key=g_key)

# Display the map
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
max_humidity = humidity.max()

fig = gmaps.figure(center=(0,0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [22]:
# Narrow down cities that fit criteria and drop any results with null values
filtered_weather_df = city_data_df
filtered_weather_df = filtered_weather_df.loc[(filtered_weather_df["Max Temp"] < 80) & (filtered_weather_df["Max Temp"] > 70)]
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Wind Speed"] < 10]
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Cloudiness"] == 0]

# Drop any rows with null values
filtered_weather_df = filtered_weather_df.dropna()

# Display sample data
filtered_weather_df

,City_ID,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
45,45,Kodinar,0,IN,44,20.7903,70.7031,75.13,8.52
85,85,Ocampo,0,MX,20,21.6500,-101.5000,72.82,4.81
199,199,Porbandar,0,IN,48,21.6422,69.6093,74.70,8.52
241,241,Gualeguay,0,AR,17,-33.1416,-59.3097,73.80,2.30
276,276,Peravurani,0,IN,90,10.3000,79.1833,72.93,7.18
293,293,Halvad,0,IN,23,23.0167,71.1833,72.79,3.67
320,320,Kavaratti,0,IN,72,10.5669,72.6420,79.25,6.67
340,340,Yulara,0,AU,62,-25.2406,130.9889,75.38,8.16
395,395,Ratnagiri,0,IN,37,16.9833,73.3000,74.25,4.18
530,530,Dakar,0,SN,82,14.6937,-17.4441,70.68,6.91
569,569,Diu,0,IN,37,20.7141,70.9822,75.81,8.14

### Step 3: Create a new DataFrame called `hotel_df`.

In [23]:
hotel_df = filtered_weather_df
hotel_df['Hotel Name'] = ''
hotel_df

,City_ID,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
45,45,Kodinar,0,IN,44,20.7903,70.7031,75.13,8.52,
85,85,Ocampo,0,MX,20,21.6500,-101.5000,72.82,4.81,
199,199,Porbandar,0,IN,48,21.6422,69.6093,74.70,8.52,
241,241,Gualeguay,0,AR,17,-33.1416,-59.3097,73.80,2.30,
276,276,Peravurani,0,IN,90,10.3000,79.1833,72.93,7.18,
293,293,Halvad,0,IN,23,23.0167,71.1833,72.79,3.67,
320,320,Kavaratti,0,IN,72,10.5669,72.6420,79.25,6.67,
340,340,Yulara,0,AU,62,-25.2406,130.9889,75.38,8.16,
395,395,Ratnagiri,0,IN,37,16.9833,73.3000,74.25,4.18,
530,530,Dakar,0,SN,82,14.6937,-17.4441,70.68,6.91,
569,569,Diu,0,IN,37,20.7141,70.9822,75.81,8.14,

In [24]:
hotel_df = filtered_weather_df.reset_index()
del hotel_df['index']
hotel_df

,City_ID,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,45,Kodinar,0,IN,44,20.7903,70.7031,75.13,8.52,
1,85,Ocampo,0,MX,20,21.6500,-101.5000,72.82,4.81,
2,199,Porbandar,0,IN,48,21.6422,69.6093,74.70,8.52,
3,241,Gualeguay,0,AR,17,-33.1416,-59.3097,73.80,2.30,
4,276,Peravurani,0,IN,90,10.3000,79.1833,72.93,7.18,
5,293,Halvad,0,IN,23,23.0167,71.1833,72.79,3.67,
6,320,Kavaratti,0,IN,72,10.5669,72.6420,79.25,6.67,
7,340,Yulara,0,AU,62,-25.2406,130.9889,75.38,8.16,
8,395,Ratnagiri,0,IN,37,16.9833,73.3000,74.25,4.18,
9,530,Dakar,0,SN,82,14.6937,-17.4441,70.68,6.91,
10,569,Diu,0,IN,37,20.7141,70.9822,75.81,8.14,

In [25]:
g_key

'AIzaSyAyZlkb6I9njKFe_pBNkkp4BO_GqtUWNZM'

### Step 4: For each city, use the Geoapify API to find the first hotel located within 5000 metres of your coordinates.

In [26]:
# Set parameters to search for a hotel
params = {
     'radius': 5000,
     'types': 'lodging',
     'key': g_key,
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lon = row['Lng']
    city_name = row['City']
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["location"] = f"{lat},{lon}"
    
    # Set base URL
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'


    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
            
# Display sample data
hotel_df

Starting hotel search
Retrieving Results for Index 0: Kodinar.
Closest hotel is Gayatri Auto advisor.
------------
Retrieving Results for Index 1: Ocampo.
Closest hotel is Hotel Meson Litto.
------------
Retrieving Results for Index 2: Porbandar.
Closest hotel is Lords Inn Porbandar.
------------
Retrieving Results for Index 3: Gualeguay.
Closest hotel is Cabañas Nuestro Refugio. Juan Y Susana Piaggio.
------------
Retrieving Results for Index 4: Peravurani.
Closest hotel is Eka RESIDENCY A/C.
------------
Retrieving Results for Index 5: Halvad.
Closest hotel is "BHAVANI KRUPA" Jagdishbhai H. Kariya.
------------
Retrieving Results for Index 6: Kavaratti.
Closest hotel is Poddar Sworone.
------------
Retrieving Results for Index 7: Yulara.
Closest hotel is Desert Gardens Hotel - Ayers Rock Resort.
------------
Retrieving Results for Index 8: Ratnagiri.
Closest hotel is Hotel Landmark.
------------
Retrieving Results for Index 9: Dakar.
Closest hotel is Novotel Dakar.
------------
Retrieving Results for Index 10: Diu.
Closest hotel is Hotel Relax Inn.
------------

,City_ID,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,45,Kodinar,0,IN,44,20.7903,70.7031,75.13,8.52,Gayatri Auto advisor
1,85,Ocampo,0,MX,20,21.6500,-101.5000,72.82,4.81,Hotel Meson Litto
2,199,Porbandar,0,IN,48,21.6422,69.6093,74.70,8.52,Lords Inn Porbandar
3,241,Gualeguay,0,AR,17,-33.1416,-59.3097,73.80,2.30,Cabañas Nuestro Refugio. Juan Y Susana Piaggio
4,276,Peravurani,0,IN,90,10.3000,79.1833,72.93,7.18,Eka RESIDENCY A/C
5,293,Halvad,0,IN,23,23.0167,71.1833,72.79,3.67,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
6,320,Kavaratti,0,IN,72,10.5669,72.6420,79.25,6.67,Poddar Sworone
7,340,Yulara,0,AU,62,-25.2406,130.9889,75.38,8.16,Desert Gardens Hotel - Ayers Rock Resort
8,395,Ratnagiri,0,IN,37,16.9833,73.3000,74.25,4.18,Hotel Landmark
9,530,Dakar,0,SN,82,14.6937,-17.4441,70.68,6.91,Novotel Dakar
10,569,Diu,0,IN,37,20.7141,70.9822,75.81,8.14,Hotel Relax Inn

In [28]:
from collections.abc import Iterable

In [ ]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)
fig